.projects-cards {
  display: grid;
  position: relative;
  grid-template-columns: minmax(200px, 300px) minmax(200px, 300px) minmax(
      200px,
      300px
    );
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
}

input[type=radio] {
  display: none;
}

#left_slider:checked ~ .projects-cards #right_card, 
#center_slider:checked ~ .projects-cards #left_card, 
#right_slider:checked ~ .projects-cards #center_card {
  transform: translatex(-20%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
  grid-column: 1;
}

#left_slider:checked ~ .projects-cards #center_card, 
#center_slider:checked ~ .projects-cards #right_card, 
#right_slider:checked ~ .projects-cards #left_card {
  transform: translatex(20%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
  grid-column: 3;
}

#left_slider:checked ~ .projects-cards #left_card, 
#center_slider:checked ~ .projects-cards #center_card, 
#right_slider:checked ~ .projects-cards #right_card {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  grid-column: 2;
}

.projects-cards .left_card {
  grid-row: 1;
  
}

.projects-cards .center_card {
  grid-row: 1;

}

.projects-cards .right_card {
  grid-row: 1;
  
}

.projects-cards .card {
  width: 300px;
  height: 250px;
  border: 2px solid var(--color4);
  background-color: var(--color4);
  border-radius: 5px;
  box-shadow: 0 8px 3px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  -o-object-fit: cover;
  object-fit: cover;
  transition: transform 0.6s ease;
  cursor: pointer;
}

.projects-cards .card_title {
  display: inline;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
  color: var(--color1);
  font-size: 100%;
  width: auto;
  vertical-align: middle;
  line-height: 3rem;
}

.projects-cards .card_logo {
  width: 10rem;
  vertical-align: middle;
  float: right;
}
