:root {
	--color1: #17252A;
	--color2: #2B7A78;
	--color3: #3AAFA9;
	--color4: #DEF2F1;
	--color5: #FEFFFF;
}

.scroll-element {
  scroll-margin: 30px 0 0 30px;
}

html {
  scroll-behavior: smooth;
}

body {
	background-color: var(--color3);
}

.sidenav {
	height: 100%;
	width: 300px;
	padding: 20px;
	background-color: var(--color1);
	position: fixed;
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: 1;
	top: 0;
	left: 0;
	color: var(--color5);
	text-align: center;
}

.sidenavcontent {
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	width: 250px;
}

.profile-picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 7px solid var(--color2);
	border-radius: 50%;
	width: 150px;
}

.sidebarname {
	font-family: 'Open Sans', sans-serif;
	font-size: 20pt;
	margin-top: 15px;
	margin-bottom: 0px;
}

.sidebarcitation {
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 12pt;
	margin: 0pt;
}

.sidebarauthor {
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 8pt;
	text-align-last: right;
	margin-top: 3pt;
	margin-right: 10pt;
	margin-left: 10pt;
	margin-bottom: 0pt;
}

.column {
  float: left;
  width: 25%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.mediaicon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40px;
}

hr {
	height: 1px;
	background-color: var(--color5);
	border: none;
	margin-top: 15px;
	margin-bottom: 15px;
}

.nav_btns {
	margin: 20px 0px;
	width: inherit;
}

.nav_btns button {
	width: inherit;
	height: 35px;
	margin: 0px;
	padding: 12px 0px;
	border: none;
	color:white;
	background-color: transparent;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 15px;
	outline: none;
}

.nav_btns button:hover {
	background-color: var(--color2);	
}

.content {
	margin-left: 340px;
	padding: 48px;
/*	background-color: wheat;*/
}

.title {
/*	background-color: wheat;*/
	padding: 10px;
	width: auto;
}

.firstname {
	font-family: 'Kumbh Sans', sans-serif;
	color: var(--color5);
	font-size: 400%;
	margin: 0;
	width: auto;
	vertical-align: middle;
	animation: fadein 3s;
}

.lastname {
	font-family: 'Kumbh Sans', sans-serif;
	color: var(--color1);
	font-size: 400%;
	width: auto;
	margin: 0;
	margin-left: 35pt;
	vertical-align: middle;
	animation: fadein 5s;
}

.container {
	position: relative;
	text-align: left;
	margin: 40px 0px;
	color: white;
	display: block;
	max-height: 100%;
}

.typedtextclass {
	position: absolute;
	font-family: 'Ubuntu Mono', monospace; 
	color:var(--color5);
	font-size: 1.7vw;
	margin: 10px 5px; 
	top: 4%;
  	left: 1%;
	max-width: 90%;
	line-height: 140%;
}

.console_img {
	max-width: 95%;
}

.aftertw {
	visibility: hidden;
}


.titlehead {
	font-family: 'Kumbh Sans', sans-serif;
	color: var(--color5);
	font-size: 300%;
	margin: 30;
	width: auto;
	vertical-align: middle;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

