body {
	
}
.sidenav {
	height: 100%;
	width: 300px;
	padding: 20px;
	background-color: black;
	position: fixed;
	overflow-x: hidden;
	z-index: 1;
	top: 0;
	left: 0;
	color: white;
}
.content {
	margin-left: 340px;
	padding: 48px;
}
.profile-picture {
	
}